Repository danieleschmidt/dynamic-moe-router-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-performance, validate-model-configs

check-performance:
  name: Check Python performance
  entry: python scripts/performance_check.py
  language: system

validate-model-configs:
  name: Validate ML model configurations
  entry: python scripts/validate_model_configs.py
  language: system

🚀 Advanced SDLC Enhancement: Maturing to Operational Excellence
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .sbom-config.yaml
  .slsa-config.yaml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  docs/deployment/MONITORING.md
  docs/development/DEBUGGING.md
  monitoring/alerts/model_alerts.yml
  monitoring/config/grafana.yml
  monitoring/config/prometheus.yml
  scripts/performance_profiler.py
Due: check-performance, validate-model-configs

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/000-template.md
  docs/adr/001-multi-backend-architecture.md
  docs/adr/002-dynamic-routing-algorithm.md
  docs/adr/003-complexity-estimation-strategy.md
  docs/adr/README.md
  docs/guides/developer/contributing.md
  docs/guides/user/getting-started.md
Due: none

feat: setup development environment and code quality tools
  .env.example
  pyproject.toml
Due: none

test: establish comprehensive testing infrastructure
  docs/testing/testing-guide.md
  tests/e2e/test_full_pipeline.py
  tests/fixtures/__init__.py
  tests/fixtures/data.py
  tests/fixtures/models.py
  tests/property/test_routing_properties.py
Due: none

build: add containerization and build automation
  .dockerignore
  .releaserc.json
  Dockerfile.gpu
  Dockerfile.production
  docs/deployment/deployment-guide.md
  scripts/build.sh
Due: validate-model-configs

ops: add comprehensive observability and monitoring infrastructure
  docs/monitoring/observability-guide.md
  monitoring/structured_logging.py
  monitoring/tracing.py
Due: check-performance

docs: add comprehensive CI/CD workflow documentation and templates
  docs/workflows/README.md
  docs/workflows/SETUP_REQUIRED.md
  docs/workflows/examples/cd.yml
  docs/workflows/examples/ci.yml
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/security-scan.yml
Due: none

feat: add comprehensive metrics tracking and automation infrastructure
  .github/project-metrics.json
  scripts/collect_metrics.py
  scripts/maintenance_tasks.py
  scripts/setup_automation.py
Due: check-performance, validate-model-configs

feat: complete SDLC implementation with final integration and configuration
  CODEOWNERS
  docs/IMPLEMENTATION_SUMMARY.md
Due: none

feat: add GitHub issue and PR templates for improved community contribution
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: add comprehensive SDLC implementation summary
  IMPLEMENTATION_SUMMARY.md
Due: none

feat: implement core dynamic MoE routing functionality (Checkpoint A1)
  examples/basic_usage.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/estimator.py
  src/dynamic_moe_router/moe.py
  src/dynamic_moe_router/profiler.py
  src/dynamic_moe_router/router.py
  src/dynamic_moe_router/torch/__init__.py
  src/dynamic_moe_router/torch/router.py
  tests/unit/test_estimator.py
  tests/unit/test_router.py
Due: check-performance

feat: implement core dynamic MoE routing functionality (Checkpoint A1) (#7)
  examples/basic_usage.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/estimator.py
  src/dynamic_moe_router/moe.py
  src/dynamic_moe_router/profiler.py
  src/dynamic_moe_router/router.py
  src/dynamic_moe_router/torch/__init__.py
  src/dynamic_moe_router/torch/router.py
  tests/unit/test_estimator.py
  tests/unit/test_router.py
Due: check-performance

Update README.md
  README.md
Due: none

feat(dynamic_moe_router): add production-ready dynamic MoE router with PyTorch support
  DEPLOYMENT_READY.md
  examples/performance_benchmark.py
  examples/pytorch_usage.py
  examples/robust_error_handling_demo.py
  pytest.ini.backup
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/estimator.py
  src/dynamic_moe_router/exceptions.py
  src/dynamic_moe_router/logging_config.py
  src/dynamic_moe_router/optimized_router.py
  src/dynamic_moe_router/performance.py
  src/dynamic_moe_router/router.py
  src/dynamic_moe_router/torch/estimator.py
  src/dynamic_moe_router/torch/integration.py
  src/dynamic_moe_router/torch/moe.py
  src/dynamic_moe_router/torch/router.py
  src/dynamic_moe_router/validation.py
Due: check-performance

feat(dynamic_moe_router): add production-ready dynamic MoE router with PyTorch support (#9)
  DEPLOYMENT_READY.md
  examples/performance_benchmark.py
  examples/pytorch_usage.py
  examples/robust_error_handling_demo.py
  pytest.ini.backup
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/estimator.py
  src/dynamic_moe_router/exceptions.py
  src/dynamic_moe_router/logging_config.py
  src/dynamic_moe_router/optimized_router.py
  src/dynamic_moe_router/performance.py
  src/dynamic_moe_router/router.py
  src/dynamic_moe_router/torch/estimator.py
  src/dynamic_moe_router/torch/integration.py
  src/dynamic_moe_router/torch/moe.py
  src/dynamic_moe_router/torch/router.py
  src/dynamic_moe_router/validation.py
Due: check-performance

feat(dynamic_moe_router): add comprehensive production-ready features and documentation
  API_REFERENCE.md
  DEPLOYMENT_GUIDE.md
  examples/production_showcase.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/benchmarks.py
  src/dynamic_moe_router/caching.py
  src/dynamic_moe_router/estimator.py
  src/dynamic_moe_router/exceptions.py
  src/dynamic_moe_router/logging_config.py
  src/dynamic_moe_router/moe.py
  src/dynamic_moe_router/monitoring.py
  src/dynamic_moe_router/optimized_router.py
  src/dynamic_moe_router/performance.py
  src/dynamic_moe_router/profiler.py
  src/dynamic_moe_router/router.py
  src/dynamic_moe_router/scaling.py
  src/dynamic_moe_router/torch/__init__.py
  src/dynamic_moe_router/torch/estimator.py
  src/dynamic_moe_router/torch/integration.py
  src/dynamic_moe_router/torch/moe.py
  src/dynamic_moe_router/torch/router.py
  src/dynamic_moe_router/validation.py
  tests/integration/test_model_integration.py
  tests/unit/test_estimator.py
  tests/unit/test_router.py
Due: check-performance

feat(dynamic_moe_router): add comprehensive production-ready features and documentation (#10)
  API_REFERENCE.md
  DEPLOYMENT_GUIDE.md
  examples/production_showcase.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/benchmarks.py
  src/dynamic_moe_router/caching.py
  src/dynamic_moe_router/estimator.py
  src/dynamic_moe_router/exceptions.py
  src/dynamic_moe_router/logging_config.py
  src/dynamic_moe_router/moe.py
  src/dynamic_moe_router/monitoring.py
  src/dynamic_moe_router/optimized_router.py
  src/dynamic_moe_router/performance.py
  src/dynamic_moe_router/profiler.py
  src/dynamic_moe_router/router.py
  src/dynamic_moe_router/scaling.py
  src/dynamic_moe_router/torch/__init__.py
  src/dynamic_moe_router/torch/estimator.py
  src/dynamic_moe_router/torch/integration.py
  src/dynamic_moe_router/torch/moe.py
  src/dynamic_moe_router/torch/router.py
  src/dynamic_moe_router/validation.py
  tests/integration/test_model_integration.py
  tests/unit/test_estimator.py
  tests/unit/test_router.py
Due: check-performance

feat: implement comprehensive production-ready dynamic MoE router system
  PRODUCTION_GUIDE.md
  config/production.json
  deploy/docker/Dockerfile.production
  deploy/kubernetes/deployment.yaml
  examples/production_demo.py
  monitoring/grafana-dashboard.json
  src/dynamic_moe_router/caching_advanced.py
  src/dynamic_moe_router/monitoring.py
  src/dynamic_moe_router/optimized_router_v2.py
  src/dynamic_moe_router/production.py
  src/dynamic_moe_router/production_fixed.py
  src/dynamic_moe_router/resilience.py
  src/dynamic_moe_router/router.py
  src/dynamic_moe_router/security.py
  src/dynamic_moe_router/validation.py
Due: check-performance, validate-model-configs

docs: complete autonomous SDLC execution summary and documentation
  AUTONOMOUS_SDLC_SUMMARY.md
Due: none

Add production-ready Dynamic MoE Router with full SDLC implementation (#11)
  AUTONOMOUS_SDLC_SUMMARY.md
  PRODUCTION_GUIDE.md
  config/production.json
  deploy/docker/Dockerfile.production
  deploy/kubernetes/deployment.yaml
  examples/production_demo.py
  monitoring/grafana-dashboard.json
  src/dynamic_moe_router/caching_advanced.py
  src/dynamic_moe_router/monitoring.py
  src/dynamic_moe_router/optimized_router_v2.py
  src/dynamic_moe_router/production.py
  src/dynamic_moe_router/production_fixed.py
  src/dynamic_moe_router/resilience.py
  src/dynamic_moe_router/router.py
  src/dynamic_moe_router/security.py
  src/dynamic_moe_router/validation.py
Due: check-performance, validate-model-configs

test(tests): improve test reliability and error message clarity
  tests/integration/test_model_integration.py
  tests/unit/test_router.py
Due: none

test(tests): improve test reliability and error message clarity (#12)
  tests/integration/test_model_integration.py
  tests/unit/test_router.py
Due: none

feat(dynamic_moe_router): add production-ready dynamic MoE router with enterprise features
  AUTONOMOUS_SDLC_COMPLETION.md
  PRODUCTION_DEPLOYMENT_SUMMARY.md
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/adaptive_router.py
  src/dynamic_moe_router/auto_scaling.py
  src/dynamic_moe_router/cli/__init__.py
  src/dynamic_moe_router/cli/benchmark.py
  src/dynamic_moe_router/cli/profile.py
  src/dynamic_moe_router/cli/validate.py
  src/dynamic_moe_router/health_monitoring.py
  src/dynamic_moe_router/high_performance.py
  src/dynamic_moe_router/production_router.py
  src/dynamic_moe_router/robust_security.py
  src/dynamic_moe_router/secure_router.py
  test_production_integration.py
Due: check-performance

feat(dynamic_moe_router): add production-ready dynamic MoE router with enterprise features (#14)
  AUTONOMOUS_SDLC_COMPLETION.md
  PRODUCTION_DEPLOYMENT_SUMMARY.md
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/adaptive_router.py
  src/dynamic_moe_router/auto_scaling.py
  src/dynamic_moe_router/cli/__init__.py
  src/dynamic_moe_router/cli/benchmark.py
  src/dynamic_moe_router/cli/profile.py
  src/dynamic_moe_router/cli/validate.py
  src/dynamic_moe_router/health_monitoring.py
  src/dynamic_moe_router/high_performance.py
  src/dynamic_moe_router/production_router.py
  src/dynamic_moe_router/robust_security.py
  src/dynamic_moe_router/secure_router.py
  test_production_integration.py
Due: check-performance

feat(dynamic_moe_router): add autonomous SDLC production-ready MoE router with global deployment
  AUTONOMOUS_SDLC_COMPLETION_SUMMARY.md
  DEPLOYMENT_GUIDE.md
  src/dynamic_moe_router/enhanced_resilience.py
  src/dynamic_moe_router/global_deployment.py
  src/dynamic_moe_router/high_performance_scaling.py
  src/dynamic_moe_router/production.py
  src/dynamic_moe_router/production_fixed.py
  src/dynamic_moe_router/resilience.py
  test_production_integration_advanced.py
  test_syntax_validation.py
Due: check-performance

feat(dynamic_moe_router): add autonomous SDLC production-ready MoE router with global deployment (#15)
  AUTONOMOUS_SDLC_COMPLETION_SUMMARY.md
  DEPLOYMENT_GUIDE.md
  src/dynamic_moe_router/enhanced_resilience.py
  src/dynamic_moe_router/global_deployment.py
  src/dynamic_moe_router/high_performance_scaling.py
  src/dynamic_moe_router/production.py
  src/dynamic_moe_router/production_fixed.py
  src/dynamic_moe_router/resilience.py
  test_production_integration_advanced.py
  test_syntax_validation.py
Due: check-performance

feat(research): implement advanced 2024 MoE routing algorithms with comprehensive evaluation
  RESEARCH_IMPLEMENTATION_SUMMARY.md
  examples/research_evaluation_demo.py
  src/dynamic_moe_router/adaptive_entropy_router.py
  src/dynamic_moe_router/auto_scaling.py
  src/dynamic_moe_router/exceptions.py
  src/dynamic_moe_router/research_benchmarks.py
  test_research_implementation.py
  tests/unit/test_adaptive_entropy_router.py
Due: check-performance

feat(research): implement advanced 2024 MoE routing algorithms with comprehensive evaluation (#16)
  RESEARCH_IMPLEMENTATION_SUMMARY.md
  examples/research_evaluation_demo.py
  src/dynamic_moe_router/adaptive_entropy_router.py
  src/dynamic_moe_router/auto_scaling.py
  src/dynamic_moe_router/exceptions.py
  src/dynamic_moe_router/research_benchmarks.py
  test_research_implementation.py
  tests/unit/test_adaptive_entropy_router.py
Due: check-performance

feat(dynamic_moe_router): add advanced 2024 MoE routing research implementation
  RESEARCH_IMPLEMENTATION_COMPLETE.md
  examples/research_publication_demo.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/advanced_validation.py
  src/dynamic_moe_router/heterogeneous_experts.py
  src/dynamic_moe_router/high_performance_v2.py
  src/dynamic_moe_router/quadratic_attention_router.py
  src/dynamic_moe_router/research_validation_framework.py
Due: check-performance

feat(dynamic_moe_router): add advanced 2024 MoE routing research implementation (#17)
  RESEARCH_IMPLEMENTATION_COMPLETE.md
  examples/research_publication_demo.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/advanced_validation.py
  src/dynamic_moe_router/heterogeneous_experts.py
  src/dynamic_moe_router/high_performance_v2.py
  src/dynamic_moe_router/quadratic_attention_router.py
  src/dynamic_moe_router/research_validation_framework.py
Due: check-performance

feat(dynamic_moe_router): add next-generation AI, quantum, and hyperdimensional routers
  AUTONOMOUS_SDLC_NEXT_GENERATION_COMPLETION.md
  examples/next_generation_showcase.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/hyperdimensional_optimizer.py
  src/dynamic_moe_router/neural_adaptive_router.py
  src/dynamic_moe_router/quantum_resilient_router.py
  test_advanced_autonomous_implementation.py
  validate_advanced_syntax.py
Due: check-performance

feat(dynamic_moe_router): add next-generation AI, quantum, and hyperdimensional routers (#18)
  AUTONOMOUS_SDLC_NEXT_GENERATION_COMPLETION.md
  examples/next_generation_showcase.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/hyperdimensional_optimizer.py
  src/dynamic_moe_router/neural_adaptive_router.py
  src/dynamic_moe_router/quantum_resilient_router.py
  test_advanced_autonomous_implementation.py
  validate_advanced_syntax.py
Due: check-performance

feat(demo): add comprehensive demos and robust router with metrics and logging
  examples/comprehensive_demo.py
  examples/dashboard_demo.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/cli/demo.py
  src/dynamic_moe_router/exceptions.py
  src/dynamic_moe_router/metrics_dashboard.py
  src/dynamic_moe_router/production.py
  src/dynamic_moe_router/resilience.py
  src/dynamic_moe_router/resilience_fixed.py
  src/dynamic_moe_router/robust_router.py
  src/dynamic_moe_router/structured_logging.py
Due: check-performance

feat(demo): add comprehensive demos and robust router with metrics and logging (#19)
  examples/comprehensive_demo.py
  examples/dashboard_demo.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/cli/demo.py
  src/dynamic_moe_router/exceptions.py
  src/dynamic_moe_router/metrics_dashboard.py
  src/dynamic_moe_router/production.py
  src/dynamic_moe_router/resilience.py
  src/dynamic_moe_router/resilience_fixed.py
  src/dynamic_moe_router/robust_router.py
  src/dynamic_moe_router/structured_logging.py
Due: check-performance

feat(federated_privacy): add comprehensive federated privacy-preserving MoE system
  examples/federated_privacy_demo.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/federated_privacy_enhanced.py
  src/dynamic_moe_router/federated_privacy_optimized.py
  src/dynamic_moe_router/federated_privacy_research.py
  src/dynamic_moe_router/federated_privacy_router.py
  tests/unit/test_federated_privacy_router.py
Due: check-performance

feat(federated_privacy): add comprehensive federated privacy-preserving MoE system (#20)
  examples/federated_privacy_demo.py
  src/dynamic_moe_router/__init__.py
  src/dynamic_moe_router/federated_privacy_enhanced.py
  src/dynamic_moe_router/federated_privacy_optimized.py
  src/dynamic_moe_router/federated_privacy_research.py
  src/dynamic_moe_router/federated_privacy_router.py
  tests/unit/test_federated_privacy_router.py
Due: check-performance

feat(autonomous-sdlc): complete three-generation progressive enhancement implementation
  =1.21.0
  AUTONOMOUS_SDLC_COMPLETION_SUMMARY.md
  src/dynamic_moe_router/core_simple.py
  src/dynamic_moe_router/optimized_core.py
  src/dynamic_moe_router/robust_core.py
  test_sdlc_quality_gates.py
  tests/test_autonomous_sdlc_generations.py
Due: check-performance

feat(autonomous-sdlc): complete three-generation progressive enhancement implementation (#21)
  =1.21.0
  AUTONOMOUS_SDLC_COMPLETION_SUMMARY.md
  src/dynamic_moe_router/core_simple.py
  src/dynamic_moe_router/optimized_core.py
  src/dynamic_moe_router/robust_core.py
  test_sdlc_quality_gates.py
  tests/test_autonomous_sdlc_generations.py
Due: check-performance

feat(autonomous-sdlc): add complete autonomous SDLC optimization system
  AUTONOMOUS_SDLC_DEPLOYMENT_GUIDE.md
  RESEARCH_PAPER_AUTONOMOUS_SDLC.md
  TERRAGON_SDLC_MASTER_COMPLETION.md
  src/dynamic_moe_router/autonomous_sdlc_optimizer.py
  src/dynamic_moe_router/autonomous_sdlc_router.py
  src/dynamic_moe_router/sdlc_research_framework.py
  tests/test_autonomous_sdlc_complete.py
  tests/unit/test_autonomous_sdlc_router.py
  validate_autonomous_sdlc.py
Due: check-performance

Path conditions:
  check-performance: any of: \.py$, but not: ^tests/
  validate-model-configs: any of: \.(yaml|json)$, but not: ^(tests/|docs/)
